*{
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    font-family: 'Bebas Neue', cursive;
    overflow-x: hidden;
}

.header{
    width: 100%;
    height:100%;
    background-image: linear-gradient( rgba( 4,9,30,0.7),rgba( 4,9,30,0.7 )), url(image/photo-1587403335644-fa8fef06b261.jpg);
    background-position: relative;
    background-size: cover;
    background-position: center;
}

nav{
    display:flex;
    align-items: center;
    padding: 2% 6%;
    justify-content: space-between;
}

nav img{
    height: 150px;
    width: 200px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

a:hover{
    border-bottom: 1.em solid blue;
}


.nav-links ul li a{
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.text-box{
    width: 90%;
    transform: translate( -50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
}

.text-box h1 {
    font-size: 80px;
}
.button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 9px 30px;
    font-size: 35px;
    margin-top: 15px;
}
